@{
    ViewBag.Title = "About";
}


<h2>About Program</h2>
    <div class="text">
       ServiceStation v 1.0
    </div>

   <div class="text">
       Created by <span class="text2">Iryna Barodzich</span>
    </div>

 


