@{
    ViewBag.Title = "Home Page";
}


        <h2>Welcome</h2>
 <div class="text">This is a Service Station Application.</div>
<div class="text">On the <span class="text2">Clients</span> page you could check whether the client exists or not in the database and edit client info and view details.</div>
<div class="text">In <span class="text2">Client Details</span> you will find cars related to the client.</div>
<div class="text">In <span class="text2">Car Details</span> you will find orders related to the car.</div>

